<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BestCodderCourse</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bindprops">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Bind Props
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Lifecycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parentComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Parent/Child
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courseList">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Course List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radzencourseList">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Radzen Course List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnrouting">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Learn Routing
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}